*
{
    margin: 0;
    padding: 0;
}

.WebContainer{
    width: 100%;
    height: 1000px;
}

title
{
    text-align: center;
}
body
{
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

}
h1
{
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: "Secular One", sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}
h2
{
    margin-top: auto;
    font-family: 'Patrick Hand SC', cursive;
    font-style: italic;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.container
{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 75%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.219);
}

.form-control
{
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    width: 75%;
    height: auto;    
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);  
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 25px;
    color: white;
}

h3
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Biryani", sans-serif;
    font-size: 50px;
    color: white;
}